
  
  h1 {
    color: #cc7715;
    text-align: center;

  }
  
  h2 {
    background-color: rgb(238, 223, 203);
    border: 1px solid black;
    margin-right: 63.4%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  
  img {
    padding-left: 40px;
    width: 330px;
    margin: 20px;
  }
  
  ol {
    background-color: rgb(176, 192, 104);
    width: 150px;
    height: 200px;
    padding: 30px 100px;
  }
  
  
  ul {
    background-color: rgb(176, 192, 104);
    width: 150px;
    height: 200px;
    padding: 40px 100px;
  }
  
  .dry-goods,
  .snacks {
    margin-left: 50px;
  }

  section {
    display: flex;
    justify-content: flex-start;
  }
